# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
* List a few popular languages for Data Science
* List some of the commonly used libraries used by Data Scientists
* List a few data science tools
* Show examples of arithmetic operation in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib
5. ggplot2
6. Caret

| Data Science Tools |
|:------------------:|
|  Jupyter Notebook  |
|      RStudio       |
|   Visual Studio    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ali Kazemi Jahromi